<!DOCTYPE html>
<html>
<head>
<style>
  h1, h2, h4 {
    margin-bottom: 0; /* Reduce the bottom margin */
  }
</style>
</head>
<body>

<h1 style="text-align: center; font-family: Times New Roman; margin-bottom: 0;">M<span style="font-size: x-large;">AGNETIC</span> M<span style="font-size: x-large;">ETHODS</span> L<span style="font-size: x-large;">AB</span> (GPC522)</h1>

<h2 style="text-align: center; font-family: Times New Roman; margin-top: 0;"><sup style="font-size: larger;">PRACTICAL - IV</sup> </h2>

<h3 style="text-align: center; font-family: Times New Roman; margin-top: 0;"><sup style="font-size: larger; font-weight: bold;">Magnetic Data Processing I</sup> </h3>

<h4 style="text-align: center; font-family: 'Courier New'; margin-bottom: 0;">February 5, 2024</h4>
<h4 style="text-align: center; font-family: 'Courier New'; margin-bottom: 0;">Name: Riya Singh Rathore</h4>
<h4 style="text-align: center; font-family: 'Courier New';">Admission Number: 20JE0801</h4>
<h4 style="text-align: center; font-family: 'Times New Roman';">Visit: <a href="https://github.com/RiyaSinghRathore/Magnetic-Methods";">https://github.com/RiyaSinghRathore/Magnetic-Methods</a> for the Lab Repository</h4>
</body>
</html>

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
df = pd.read_csv("/Users/riyarathore/Downloads/Screenshot 2024-02-09 at 12.15.08 AM.csv")
df

,Base magnetometer readings:,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Time\n(min),Reading\n(nT),Time\n(min),Reading\n(nT),Time\n(min),Reading\n(nT)
1,08:56:59 AM,48512.75,80,48512.09,160,48512.28
2,5,48512.58,85,48512.88,165,48511.98
3,10,48512.49,90,48513.57,170,48511.76
4,15,48512.65,95,48513.97,175,48511.67
5,20,48516.97,100,48513.49,180,48511.93
6,25,48513.29,105,48513.37,185,48511.85
7,30,48515.77,110,48513.64,190,48512.01
8,35,48516.68,115,48512.88,195,48512.73
9,40,48517.12,120,48514.61,200,48513.33
10,45,48520.73,125,48515.17,205,48514.5
11,50,48515.25,130,48514.24,210,48514.59
12,55,48518.35,135,48513.54,215,48514.77
13,60,48512.31,140,48511.55,220,48515.01
14,65,48512.21,145,48513.46,225,48513.26
15,70,48512.35,150,48512.56,230,48513.42
16,75,48512.49,155,48512.7,NaN,NaN